*{
    background-color: rgb(69, 1, 69);
    box-sizing: border-box;
}

h1{
    color: rgb(239, 239, 162);
    text-align: center;
}

p{
    color: antiquewhite;
}

.container{
    min-width: 60%;
    max-width: 1100px;
    min-width: 700px;
    margin: auto;
    align-content: center;
}

img{
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15,15,15,0.5);
    align-content: center;
}